*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: sans-serif;
}


/* .inputbox{

} */

.head{
    width: 500px;
    height: 200px;
    background-image: url('https://raw.githubusercontent.com/lakansantos/Day-30-level-2/2ffc77d823b544008be02b1551667e52a5796c6c/src/img/blob.svg') no-repeat center/cover;
    border-radius: 20px 20px 0px 0px;
}

h1{
    margin-left: 10px;
    color: #0066FF;
}

.formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: #333;
}


.guyHoldingPhone{
    width: 175px;
    height: 175px;
    object-fit: contain;
    display: flex;
    margin: 10px auto;

}
form{

    height: 480px;
    width: 500px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 0px 0px 20px 20px;
}

.inputbox{
    margin: 10px;
}

input{
        display: block;
        height: 30px;
        width: 100%;
        /* opacity: .4; */
        border: 1px solid rgba(0,0,0, .3);
        text-indent: 5px;   
}

.error{
    color: red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;

}


button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #0066FF;
    color: white;
    margin-left: 10px;
}

button:hover{
    cursor:pointer;
    transform: scale(1.1);
    transition: .5s;
}


@media (max-width: 480px){
        .head{
            width: 100%;
            border-radius: 0px;
        }
        .formContainer{
            width: 100vw;
        }
        form{
            width: 100%;
            padding-left: 50px;
        }
        
        input{
            width: 90%;
        }

        .guyHoldingPhone{
            margin-top: 30px;
        }
}

@media (max-width: 1080px){
    .guyHoldingPhone{
        margin-top: 50px;
        width: 150px;
        height: 150px;
    }
}
